@model VollyV2.Models.Volly.MapModel

@{
    ViewData["Title"] = "Opportunities";
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/home.opportunities.css" />
<div class="container-fluid">
    <div class="row">
        <div id="wrap-main" class="col-lg-12 col-md-12 col-sm-12 order-lg-first order-md-first order-last">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="card border-light mb-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#causesFilter">Causes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#categoryFilter">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#organizationFilter">Organizations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#communityFilter">Communities</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <br />
                            <div id="causesFilter" class="container tab-pane active">
                                <select asp-for="Causes" class="form-control" id="CausesList"
                                        asp-items="@Model.CausesList" size="7"></select>
                            </div>
                            <div id="categoryFilter" class="container tab-pane fade">
                                <select asp-for="Categories" class="form-control" id="CategoryList"
                                        asp-items="@Model.CategoriesList" size="7"></select>
                            </div>
                            <div id="organizationFilter" class="container tab-pane fade">
                                <select asp-for="Organizations" class="form-control" id="OrganizationList"
                                        asp-items="@Model.OrganizationList" size="7"></select>
                            </div>
                            <div id="communityFilter" class="container tab-pane fade">
                                <select asp-for="Communities" class="form-control" id="CommunityList"
                                        asp-items="@Model.CommunityList" size="7"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 card border-light mb-3">

                    <div id="dateSelect" class="d-flex justify-content-center"></div>
                </div>
            </div>
            <label for="SortCategory">Sort By:</label>
            <div class="form-group row card-header" id="SortCategory">
                <div class="custom-control custom-radio col-lg-3 col-6">
                    <input type="radio" id="EventSort" value="1" name="sortRadio" class="custom-control-input" checked>
                    <label class="custom-control-label" for="EventSort">Event Date</label>
                </div>
                <div class="custom-control custom-radio col-lg-3 col-6">
                    <input type="radio" id="OrganizationSort" value="2" name="sortRadio" class="custom-control-input">
                    <label class="custom-control-label" for="OrganizationSort">Organization</label>
                </div>
                <div class="custom-control custom-radio col-lg-3 col-6">
                    <input type="radio" id="OpeningsSort" value="3" name="sortRadio" class="custom-control-input">
                    <label class="custom-control-label" for="OpeningsSort">Openings</label>
                </div>
                <div class="custom-control custom-radio col-lg-3 col-6">
                    <input type="radio" id="DurationSort" value="4" name="sortRadio" class="custom-control-input">
                    <label class="custom-control-label" for="DurationSort">Duration</label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-sm btn-block" id="ClearFilters">Clear Filters</button>&nbsp;
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-sm btn-block" id="FilterOpportunities">Apply Filters</button>
                </div>
                <br />
                <br />
            </div>
            <div class="alert alert-success" id="nothingFoundAlert">
                <h4 class="alert-heading">Sorry! Nothing found!</h4>
                <p>Please change your search criteria to browse available opportunities</p>
                <hr>
                <p class="mb-0">If you see nothing that you like, please <a href="/Home/Contact">Contact Us</a> and make a suggestion. Thank you!</p>
            </div>
            <div class="row" id="opportunityList">
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 order-sm-first order-first wrap-map">
            <div class="sticky-top">
                <div class="wrap-toggle">
                    <input type="button" class="btn-map btn btn-light" id="toggle-map" data-show="1" value="Show Map" />
                </div>
                <div class="map" id="map"></div>
                <br />
            </div>
        </div>
    </div>
    <br />
</div>


<div class="modal fade" id="OpportunityModal" tabindex="-1" role="dialog" aria-labelledby="OpportunityModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OpportunityModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Apply" id="applyForm">
                <div class="modal-body">
                    <a target="resource window" id="OpportunityModalOrganizationUrl"><div id="OpportunityModalOrganization"></div></a>
                    <div id="fb-share-wrap" class="share-wrap">
                        <a target="resource window" id="fb-share">
                            <img src="~/images/assets/fb-logo.png" />
                            Share
                        </a>
                    </div>
                    <div id="tw-share-wrap" class="share-wrap">
                        <a target="resource window" id="tw-share">
                            <img src="~/images/assets/tw-logo.png" />
                            Tweet
                        </a>
                    </div>
                    <div id="ln-share-wrap" class="share-wrap">
                        <div id="ln-share"></div>
                    </div>
                    <div class="text-warning" id="ModalAddress"></div>
                    <span class="badge badge-success" id="OpportunityModalCategory"></span>
                    <span class="badge badge-warning" id="OpportunityModalCause"></span>
                    <span class="badge badge-info" id="OpportunityModalTime"></span>
                    <span class="badge badge-danger" id="OpportunityModalSpotsRemaining"></span>
                    <br />
                    <div id="ModalDescription" class="div-description"></div>
                    <input asp-for="@Model.ApplyModel.OpportunityId" type="hidden" class="form-control" id="OpportunityId" />
                    <div>
                        Have a question before applying?
                        <a asp-controller="Home" asp-action="Contact">Contact Volly</a>
                    </div>
                    <div id="apply-now"> Apply Now:</div>
                    <div class="form-group row apply-opportunity-row">
                        <label asp-for="@Model.ApplyModel.Name" class="col-form-label col-sm-2">Name</label>
                        <input asp-for="@Model.ApplyModel.Name" class="form-control col-sm-10" />
                        <span asp-validation-for="@Model.ApplyModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row apply-opportunity-row">
                        <label asp-for="@Model.ApplyModel.Email" class="col-form-label col-sm-2">Email</label>
                        <input asp-for="@Model.ApplyModel.Email" class="form-control col-sm-10" />
                        <span asp-validation-for="@Model.ApplyModel.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group row apply-opportunity-row">
                        <label asp-for="@Model.ApplyModel.PhoneNumber" class="col-form-label col-sm-2">Phone</label>
                        <input asp-for="@Model.ApplyModel.PhoneNumber" class="form-control col-sm-10" />
                        <span asp-validation-for="@Model.ApplyModel.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplyModel.OccurrenceIds" class="row apply-opportunity-row col-form-label">Select a time:</label>
                        <div class="row apply-opportunity-row">
                            <select asp-for="@Model.ApplyModel.OccurrenceIds" class="form-control" id="occurrencesInput" multiple="multiple"></select>
                            <span asp-validation-for="@Model.ApplyModel.OccurrenceIds" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplyModel.Message" class="row apply-opportunity-row col-form-label">Message</label>
                        <div class="row apply-opportunity-row">
                            <textarea asp-for="@Model.ApplyModel.Message" class="form-control col-sm-12" rows="4" placeholder="Please state your availability if you cannot help out the whole time"></textarea>
                            <span asp-validation-for="@Model.ApplyModel.Message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="VolunteerSubmit">Volunteer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ApplyModal" tabindex="-1" role="dialog" aria-labelledby="ApplyModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ApplyModalTitle">Thanks for applying</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Thank you for applying! you will receive an email confirmation shortly!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div hidden="hidden" id="InitialOpportunity">@ViewData["OpportunityId"]</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />

<script src="~/js/gmaps.js"></script>

<script src="~/js/opportunities.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi84qEblX_oHY4fLUW8pjliIsrXZJs3eI&callback=initMap"></script>

<script>
    $('#applyForm').submit(function (e) {
        var $theForm = $(this);
        $('#VolunteerSubmit').prop('disabled', true);
        $.ajax({
            type: $theForm.attr('method'),
            url: $theForm.attr('action'),
            data: $theForm.serialize(),
            success: function (data) {
                $('#OpportunityModal').modal('hide');
                $('#ApplyModal').modal('show');
                $theForm.trigger("reset");
                $('#VolunteerSubmit').prop('disabled', false);
            },
            error: function (data) {
                $('#VolunteerSubmit').prop('disabled', false);
            }
        });
        return false;
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

