@model IEnumerable<VollyV2.Models.Views.OpportunityView>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Approve New Opportunities</h2>


<input class="form-control" id="searchInput" type="text" placeholder="Search..">
<table class="table table-bordered table-striped table-text" id="opportunityList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpportunityType)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img class="img-fluid thumbnail-img" src="@item.ImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpportunityType)
                </td>
                <td>
                    <a asp-action="Confirm" asp-route-id="@item.Id">Approve</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#opportunityList tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>