@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<VollyV2.Models.Volly.UserRoleModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.Raw(item.RoleNames.Join("<br/>"))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit User Roles</a> 
            </td>
        </tr>
}
    </tbody>
</table>
